nav,
.nav {
    color: white;
    background: linear-gradient(rgb(225, 225, 225), rgb(175, 175, 175));
    position: sticky;
    top: 0;
}

main,
.main {
    background: linear-gradient(rgb(225, 225, 225), rgb(175, 175, 175));
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: darkblue;
    background-color: lightblue;
}

.btn2 {
    color: darkblue;
    background-color: lightblue;
}

footer,
.footer {
    background: linear-gradient(rgb(225, 225, 225), rgb(175, 175, 175));
    color: white;
}

.flashy-text {
    color: blue;
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}